*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin-bottom: 30px;
    position: relative;
}
.progress-container::before{  
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e0e0e0;
    width: 100%;
    height: 4px;
    z-index: -1;
}
.progress{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3498db;
    width: 0%;
    height: 4px;
    z-index: -1;
    transition: .4s ease;
}
.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
}
.circle.active{
    border-color: #3498db;
}
.btn{
    background-color: #3498db;
    color: #fff;
    border: 0;
    border-radius: 60px;
    cursor: pointer;
    padding: 9px 30px;
    margin: 5px;
    font-size: 14px;
}
.btn:active{
    transform: scale(.98);
}
.btn:focus{
    outline: none;
}
.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}